POSTGRES_DB=personal_proj_db
POSTGRES_USER=pp_user
POSTGRES_PASSWORD=replace-me-with-a-real-password
# SECRET_KEY=generate-with-secret.token_urlsafe-50
# DEBUG=False
# ALLOWED_HOSTS=http-cat.duckdns.org
# DB_HOST=personal_proj-container